<p>
  The OpenPGP community wants to empower its users, and therefore we
  consider it of the utmost importance that we do not build black
  boxes that you, our users, merely use and are beholden to.  To this
  end, this site documents the concepts of OpenPGP, and details the
  structure of OpenPGP data.
</p>

<h1>What is OpenPGP?</h1>

<p>
  First and foremost, OpenPGP is a standardized way to handle and
  transport cryptographic objects like signatures or keys.  To
  transport a signature from one agent to another, it is serialized
  into a sequence of bytes by the sender, and de-serialized by the
  recipient.
</p>

<p>
  Standardization is vital to this process.  It enables
  interoperability between different implementations, and ensures you
  that you can still access encrypted data, like backups, in the years
  to come.  OpenPGP is defined in the Internet Standard
  <a href="https://tools.ietf.org/html/rfc4880">RFC4880</a>.
  Standardization via the IETF may be a slow process, but this process
  ensures that you can work with your OpenPGP data across different
  programs and platforms.
</p>

<h1>Table Of Contents</h1>

<nav>
  <ol>
    <li><a href="packet-structure">Packet Structure</a></li>
    <li><a href="literal-data">Literal Data</a></li>
    <li><a href="signed-message">Signed Message</a></li>
  </ol>
</nav>
