figcaption {
    text-align: center;
}

.packet,
.packets {
    display: flex;
}

.packet > div,
.packets > div {
    padding: 1em;
    border: solid 1px black;
    background: rgba(0, 255, 0, .5);
}

.packet > .expand,
.packets > .expand {
    flex-grow: 3;
}

.not {
    text-decoration: overline;
}

/* dump.sequoia-pgp.org integration. */
.decode-button {
    float: right;
}

@media (max-width: 500px) {
    /* On small devices, prevent the button from overlapping the armored
       data.  */
    .decode-button + pre {
        padding-top: 3em;
    }
}
