<figure>
  <span class="decode-button">
    <form action="https://dump.sequoia-pgp.org" method="post">
      {{ with .Get "hex" }}
        <input type="hidden" name="hex" value="on" />
      {{ end }}
      {{ with .Get "mpis" }}
        <input type="hidden" name="mpis" value="on" />
      {{ end }}
      <input type="hidden" name="data" value="{{.Inner}}" />
      <button type="submit">Decode!</button>
    </form>
  </span>
  <pre><code class="language-openpgp">{{.Inner}}</code></pre>
  {{ with .Get "caption" }}
    <figcaption>{{ . | safeHTML }}</figcaption>
  {{ end }}
</figure>
